{% extends 'base.html.twig' %}

{% block title %}Créer votre mot de passe{% endblock %}

{% block body %}
<h1>Créer votre mot de passe</h1>

{{ form_start(form) }}
    {{ form_row(form.password) }}
    <button class="btn btn-primary">Valider</button>
{{ form_end(form) }}
{% endblock %}
