{% if homepagePromo %}
<section class="top-space">
    <div class="promo-banner" data-aos="fade-down" data-aos-duration="1200">
        <div class="promo-title">
            🔥 {{ homepagePromo.titre }}
        </div>
        {# On supprime la partie promo-details, donc plus de -15% ou montant #}
    </div>
</section>
{% endif %}
