{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    {{ parent() }}

    <!-- Modal image admin -->
    <div id="ea-image-modal" class="ea-modal">
        <span class="ea-modal-close">&times;</span>
        <img class="ea-modal-content" id="ea-modal-img">
    </div>
{% endblock %}
