/**
 * Cart Compact avec scroll seulement sur les articles
 */


/* Wrapper général du panier */

.navbar-cart-product-wrapper {
    max-height: 1000px;
    /* hauteur totale du panier */
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    /* réduit le padding sur les 4 côtés */
    box-sizing: border-box;
}


/* Liste des articles scrollable */

.navbar-cart-product-list {
    overflow-y: auto;
    max-height: 1000px;
    /* laisse de la place pour le total et les boutons */
    padding-right: 0.25em;
    /* pour scrollbar */
}


/* Produit dans le panier */

.navbar-cart-product {
    border-bottom: 1px solid #495057;
    padding: 0.25em 0;
    margin-bottom: 0.25em;
    font-size: 0.85rem;
}


/* Lien produit (nom) */

.navbar-cart-product-link {
    color: #343a40;
    font-weight: bold;
}

.navbar-cart-product-link:hover {
    text-decoration: none;
}


/* Image produit */

.cart-product-image {
    display: block;
    max-height: 50px;
    width: auto;
    border-radius: 4px;
    margin: 0 auto;
}


/* Boutons quantité / suppression horizontal */

.cart-buttons {
    display: inline-flex;
    gap: 0.3em;
    align-items: center;
    margin-left: 0.5em;
}


/* Images des boutons */

.lien-cart img {
    display: inline-block;
    max-height: 16px;
    width: auto;
    vertical-align: middle;
}


/* Centrage de la quantité entre les boutons */

.quantity {
    display: inline-block;
    min-width: 20px;
    text-align: center;
}


/* Total commande en bas */

.navbar-cart-total {
    text-align: right;
    font-size: 0.85rem;
    padding: 0.25em 0;
    margin-top: 0.25em;
}


/* Boutons Voir panier / Commander */

.lien-panier a {
    font-size: 0.75em;
    padding: 0.3em 0.8em;
    display: inline-flex;
    align-items: center;
}

.lien-panier {
    margin-top: 0.25em;
}

.lien-panier a i {
    margin-left: 4px;
}