.flash-container {
    position: fixed;
    /* ou absolute si tu veux qu’il disparaisse avec le scroll */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    /* au-dessus de tout */
}

.flash.notice {
    background-color: #ffeeba;
    /* jaune clair */
    color: #856404;
    /* orange foncé pour le texte */
    border: 1px solid #ffeeba;
}

.flash {
    padding: 4px 8px;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    animation: fadeInDown 0.6s ease;
}

.flash.register-error {
    background-color: #fff3cd;
    /* jaune clair */
    color: #856404;
    /* orange foncé */
    border: 1px solid #ffeeba;
}

.flash.register-success {
    background-color: #d4edda;
    /* vert clair */
    color: #155724;
    /* vert foncé */
    border: 1px solid #c3e6cb;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
