/* Reset & global */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #222;
}

nav ul li a {
    font-size: 1.4rem;
}

h1 {
    font-weight: 500;
}

img {
    max-width: 100%;
}

.container-section {
    max-width: 180rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.container-home {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem 3rem;
}

@media only screen and (max-width: 1200px) {
    .content {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) {
    .content {
        width: 90%;
    }
}


/* Slider correction */

.cart__slide {
    margin-top: 130px;
    /* hauteur approximative du menu */
    margin-bottom: 30px;
    /* espace avec la section suivante */
    padding-bottom: 5rem;
}


/* About Section */

.section-pergo-list {
    padding: 8rem 0 7rem 0;
    overflow-x: hidden;
    /* padding-top: 10rem; */
    /* augmente l'espace entre le slider et cette section */
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 3rem;
}

.title {
    margin-top: 10rem;
    margin-bottom: 5rem;
    text-align: center;
}

.title h1 {
    position: relative;
    display: inline-block;
    font-size: 4rem;
}

.title h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -40%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 0.4rem;
    background-color: #5a76fd;
}

.title p {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.about .title {
    text-align: left;
    margin-bottom: 3rem;
}

.about .left p {
    margin-top: 2rem;
    line-height: 1.7;
}

.about .right img {
    height: 20rem;
    object-fit: cover;
}

.about .right video {
    width: 720px;
    height: 440px;
}

@media only screen and (max-width: 1100px) {
    .about .right video {
        width: 450px;
        height: 280px;
    }
}

@media only screen and (max-width: 930px) {
    .about {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .about .right video {
        width: 720px;
        height: 440px;
        margin-left: 70px;
    }
}

@media only screen and (max-width: 825px) {
    .about {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .about .right video {
        width: 720px;
        height: 440px;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 770px) {
    .about {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .about .right video {
        width: 600px;
        height: 400px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 752px) {
    .about {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .about .right video {
        width: 600px;
        height: 400px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 649px) {
    .about {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .about .right video {
        width: 500px;
        height: 350px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 553px) {
    .about {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .about .right video {
        width: 400px;
        height: 300px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 455px) {
    .about {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .about .right video {
        width: 350px;
        height: 200px;
        margin-left: 20px;
    }
}

@media only screen and (max-width: 405px) {
    .about {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .about .right video {
        width: 300px;
        height: 200px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 342px) {
    .about {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .about .right video {
        width: 250px;
        height: 150px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 290px) {
    .about {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .about .right video {
        width: 200px;
        height: 150px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .about {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .about .left {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .about .title {
        text-align: center;
    }
}

@media only screen and (max-width: 567px) {
    .title h1 {
        font-size: 3rem;
    }
    .about .left {
        width: 90%;
    }
    .about .right img {
        height: 20rem;
    }
}


/* Section Liste Pergola */

.container-pergo-list {
    max-width: 180rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.pergo-list-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.pergo-list-box {
    max-width: 45rem;
    margin: 0 auto;
    padding: 1.6rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.pergo-list-box img {
    object-fit: cover;
    max-width: 400px;
    max-height: 300px;
}

.pergo-list-box p {
    padding: 1.6rem 0;
    font-size: 1.8rem;
}

.icons {
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: #5a76fd;
}

.icons a:not(:last-child) {
    margin-right: 1rem;
}

.icons a {
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.icons a:hover {
    color: gold;
}

@media only screen and (max-width: 1390px) {
    .pergo-list-center {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 915px) {
    .pergo-list-center {
        grid-template-columns: repeat(2, 1fr);
    }
    .pergo-list-box {
        max-width: 35rem;
        padding: 1.6rem;
    }
    .pergo-list-box img {
        max-width: 300px;
        max-height: 200px;
    }
}

@media only screen and (max-width: 767px) {
    .container-home img {
        padding: 2rem 0;
    }
    .pergo-list-box {
        max-width: 65rem;
        padding: 1.6rem;
    }
    .pergo-list-box img {
        max-width: 700px;
        max-height: 350px;
    }
}

@media only screen and (max-width: 748px) {
    .pergo-list-center {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .container-home img {
        padding: 1rem 0;
    }
}

@media only screen and (max-width: 567px) {
    .icons {
        display: none;
    }
}

@media only screen and (max-width: 541px) {
    .container-home img {
        padding: 2rem 0;
    }
    .pergo-list-box {
        max-width: 45rem;
        padding: 1.6rem;
    }
    .pergo-list-box img {
        max-width: 400px;
        max-height: 300px;
    }
}

@media only screen and (max-width: 415px) {
    .container-home img {
        padding: 2rem 0;
    }
    .pergo-list-box {
        max-width: 35rem;
        padding: 1.6rem;
    }
    .pergo-list-box img {
        max-width: 300px;
        max-height: 200px;
    }
}

@media only screen and (max-width: 360px) {
    .container-home img {
        padding: 2rem 0;
    }
    .pergo-list-box {
        max-width: 35rem;
        padding: 1.6rem;
    }
    .pergo-list-box img {
        max-width: 280px;
        max-height: 200px;
    }
}

@media only screen and (max-width: 321px) {
    .container-home img {
        padding: 2rem 0;
    }
    .pergo-list-box {
        max-width: 30rem;
        padding: 1.6rem;
    }
    .pergo-list-box img {
        max-width: 240px;
        max-height: 170px;
    }
}

@media only screen and (max-width: 281px) {
    .container-home img {
        padding: 2rem 0;
    }
    .pergo-list-box {
        max-width: 25rem;
        padding: 1.6rem;
    }
    .pergo-list-box img {
        max-width: 200px;
        max-height: 150px;
    }
}


/* Trottinette Section */

.trottinette-caracteristiques {
    margin-top: 60px;
}

.trottinette-caracteristiques h2,
.trottinette-descriptions h2 {
    margin-bottom: 20px;
    text-align: center;
}

.caracteristique-categorie {
    margin-bottom: 30px;
}

.caracteristiques-table {
    width: 100%;
    border-collapse: collapse;
}

.caracteristiques-table td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.carac-name {
    font-weight: bold;
    width: 50%;
}

.description-section {
    margin-bottom: 40px;
}

.description-section h3 {
    color: var(--black);
    margin-bottom: 10px;
}

.arrival__slide {
    display: flex;
    gap: 2rem;
    /* espace entre slider et boutons */
    position: relative;
}

.glide {
    flex: 1;
    /* slider prend tout l'espace disponible */
    width: calc(100% - 20rem);
    /* 20rem = largeur du bloc boutons */
}

.cart__buttons {
    flex: 0 0 20rem;
    /* largeur fixe à droite */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: sticky;
    top: 150px;
    /* reste visible au scroll */
    align-self: flex-start;
}


/* ===== OVERRIDE LOCAL SHOW-PAGE : boutons VOIR PANIER et COMMANDER ===== */


/* ===================== SOUS-MENU "Nos trottinettes" ===================== */

.menu-nav .sous-menu-trottinettes,
.menu-nav ul li ul.sous-menu-trottinettes {
    font-size: 1.1rem !important;
    line-height: 1.2 !important;
}

.menu-nav ul li ul li a,
.menu-nav .sous-menu-trottinettes li a {
    font-size: 1.1rem !important;
    padding: 5px 10px !important;
    display: inline-block;
}

.menu-nav .sous-menu-trottinettes li {
    font-size: 1.1rem !important;
    padding: 4px 10px !important;
    gap: 8px;
    white-space: nowrap;
}


/* ===================== MINI-PANIER ===================== */

.menu-nav li.menu-panier ul,
.menu-nav li.menu-panier .cart-dropdown,
.menu-nav li.menu-panier>* ul,
.menu-nav li.menu-panier ul li,
.menu-nav li.menu-panier ul li a,
.menu-nav li.menu-panier .cart-dropdown p,
.menu-nav li.menu-panier .cart-dropdown span,
.menu-nav li.menu-panier .navbar-cart-product,
.menu-nav li.menu-panier .navbar-cart-total,
.menu-nav li.menu-panier .cart-dropdown .cart-total p {
    font-size: 1.4rem !important;
    /* taille normale du panier */
    line-height: 1.4 !important;
}


/* ===================== BOUTONS VOIR PANIER ET COMMANDER ===================== */

.menu-nav li.menu-panier .cart-dropdown .btn,
.menu-nav li.menu-panier .cart-dropdown .lien-panier a {
    font-size: 1.6rem !important;
    /* seulement ici on augmente la taille */
    line-height: 1.5 !important;
    font-weight: 500 !important;
    height: 45px !important;
    padding: 0.375rem 0.75rem !important;
    border-radius: 6px !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    background-color: #162938 !important;
    color: #fff !important;
    border: none !important;
}


/* ===================== MIN-WIDTH ET SÉPARATEURS ===================== */

.menu-nav ul li ul {
    min-width: 320px !important;
    width: auto !important;
}

.menu-nav .separator {
    font-size: 1.1rem !important;
}
