/* ======== Colors ========== */

:root {
    --default-color: #e71247;
    --default-color2: #d64569;
    --dark-color: #222;
    --dark-color-alt: #3c4858;
    --grey-color: #f9fafd;
    --grey-color-alt: #8492a6;
    --yellow: #ffcc00;
    --white: #fff;
}

.page-show-product ul,
.page-show-product li {
    list-style: none;
}

.page-show-product a {
    text-decoration: none;
}

.page-show-product img {
    max-width: 100%;
    max-height: 100%;
}

.page-show-product h2,
.page-show-product h3,
.page-show-product h4 {
    font-weight: 600;
}

.page-show-product {
    line-height: 1.6;
    color: var(--dark-color);
}

/* remplace .container */
.page-show-product .container {
    max-width: 114rem;
    padding: 0 1rem;
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    .page-show-product .container {
        padding: 0 3rem;
    }
}



/* ========== Product ========== */

.rating svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--yellow);
}

.product__bottom {
    padding-top: 1.6rem;
}

.product__bottom h3 {
    margin-bottom: 1rem;
}

.product__bottom a:link,
.product__bottom a:visited {
    display: inline-block;
    padding: 0.8rem 4rem;
    background-color: var(--default-color);
    color: var(--grey-color);
    text-transform: uppercase;
    font-weight: 500;
}

@media only screen and (max-width: 567px) {
    .product .img__container {
        height: 15rem;
    }
    .rating svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    .product__bottom a:link,
    .product__bottom a:visited {
        display: inline-block;
        padding: 0.6rem 3rem;
        font-size: 1.4rem;
    }
    .product__bottom h3 {
        font-size: 1.6rem;
    }
}


/* =========== Cart Slide =========== */

.cart__slide {
    padding-bottom: 30rem;
}

.cart__like {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    padding: 1.6rem 1rem;
}

.image__holder {
    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: flex-start; /* aligne en haut */
    height: 25rem; /* même que l'image */
    margin-left: 25rem; /* décale l'image vers la droite */
}

.image__holder img {
    width: 35rem;
    height: 25rem;
    object-fit: contain; /* garde toute l'image */
}
.cart__details {
    text-align: center; /* centre tout le contenu du bloc (h1 et p) */
    margin-top: -6rem; /* réduit l'espace depuis la promo */
    margin-bottom: 3rem; /* espace sous le bloc avant le slider */
}
.cart__details h1 {
    font-size: 5rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 1.6rem;
}

.cart__details p {
    font-size: 1.8rem;
    color: var(--grey-color-alt);
    margin: 1rem 0 2rem 0; /* haut 1rem, bas 2rem */
    line-height: 1.4;
}

.cart__details .colors {
    display: flex;
    margin: 0.8rem 0 2rem 0;
}

.cart__details .colors span {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    border: 2px solid var(--dark-color-alt);
    cursor: pointer;
}

.cart__details .colors span:not(:last-child) {
    margin-right: 0.7rem;
}

.cart__details .colors span:nth-child(1) {
    background-color: red;
}

.cart__details .colors span:nth-child(2) {
    background-color: green;
}

.cart__details .colors span:nth-child(3) {
    background-color: blue;
}

.cart__details .colors span:nth-child(4) {
    background-color: yellow;
}

.cart__details .btn__group button {
    display: inline-block;
    width: 15rem;
    padding: 1.3rem;
    border: 1px solid var(--grey-color-alt);
    border-radius: 0.3rem;
    color: var(--dark-color-altr);
    font-weight: 600;
    font-size: 1.7rem;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cart__details .btn__group button:focus {
    outline: none;
}

.cart__details .btn__group button:first-child:hover {
    border-color: var(--default-color);
    background-color: var(--default-color);
    color: var(--grey-color);
}

.cart__details .btn__group button:last-child {
    border-color: var(--default-color);
    background-color: var(--default-color);
    color: var(--grey-color);
}

.glide__bullets {
    bottom: -25%;
    left: 50%;
    /* remet bien à gauche */
    transform: translateX(-50%);
    /* occupe toute la largeur */
    display: flex;
    justify-content: center;
    /* centre les miniatures */
    gap: 10px;
    /* espace entre elles */
    max-width: 100%;
    overflow: visible;
    margin-left: 10rem;

}

.glide__bullet {
    width: 13rem;
    height: 9rem;
    border-radius: 5%;
    border: 1px solid var(--grey-color-alt);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.glide__bullet .thumbnail {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glide__bullet .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* ou cover si tu veux remplir totalement */
    display: block;
}

.glide__bullet:hover {
    border: 1px solid var(--grey-color-alt);
    background-color: transparent;
}

.glide__bullet:focus {
    border: 1px solid var(--grey-color-alt);
    background-color: rgba(0, 0, 0, 0.2);
}

.thumbnail {
    width: 25rem;
    height: 13rem;
}

.thumbnail img {
    object-fit: contain;
}

.glide__arrow {
    background-color: transparent;
    color: var(--grey-color-alt);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0;
    padding: 1.3rem 3rem;
    border: 1px solid var(--grey-color-alt);
    opacity: 0;
    top: -2rem;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.cart__slide:hover .glide__arrow {
    visibility: visible;
    opacity: 1;
}

.glide__arrow:hover {
    border: 1px solid var(--grey-color-alt);
}

@media only screen and (max-width: 1200px) {
    .glide__bullet {
        width: 15rem;
        height: 15rem;
    }
    .thumbnail {
        width: 15rem;
        height: 15rem;
    }
    .thumbnail img {
        height: 12rem;
    }
}

@media only screen and (max-width: 996px) {
    .cart__slide {
        padding-bottom: 20rem;
    }
    .cart__like {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        gap: 0 1rem;
        padding: 1.6rem 1rem;
    }
    .image__holder img {
        width: 40rem;
        height: 45rem;
    }
    .cart__details .btn__group button {
        font-size: 1.4rem;
        width: 12rem;
    }
    .glide__bullet {
        width: 15rem;
        height: 15rem;
    }
    .thumbnail {
        width: 15rem;
        height: 15rem;
    }
    .thumbnail img {
        height: 12rem;
    }
}

@media only screen and (max-width: 768px) {
    .cart__like {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 1rem;
        padding: 1.6rem 1rem;
    }
    .image__holder img {
        width: 30rem;
        height: 35rem;
    }
    .cart__details h1 {
        font-size: 4rem;
    }
    .cart__details .btn__group button:not(:last-child) {
        margin-bottom: 1rem;
    }
    .glide__bullet {
        width: 10rem;
        height: 10rem;
    }
    .thumbnail {
        width: 10rem;
        height: 10rem;
    }
    .thumbnail img {
        height: 8rem;
    }
}

@media only screen and (max-width: 567px) {
    .cart__slide {
        padding-bottom: 3rem;
    }
    .glide__bullet {
        display: none;
    }
    .cart__like {
        grid-template-columns: 1fr;
        gap: 2rem 0rem;
        padding: 1.6rem 1rem;
    }
}

.slide-img {
    position: relative;
}

.slide-img img {
    object-fit: cover;
    box-sizing: border-box;
}

.container-show-product {
    max-width: 1280px;
    margin: 0 auto;
}
/* Flèche gauche */
.glide__arrow--left {
    left: 20% !important; /* décaler vers le centre */
    transform: translateY(-50%);
    position: absolute;
}

/* Flèche droite (si tu veux garder sa position actuelle) */
.glide__arrow--right {
    right: 0%; /* reste collée à droite */
    transform: translateY(-50%);
    position: absolute;
}
