:root {
    --black: #000;
    --white: #fff;
    --gray: #efefef;
    --gray-2: #757575;
    --facebook-color: #4267b2;
    --google-color: #db4437;
    --twitter-color: #1da1f2;
    --insta-color: #e1306c;
    --bleu-menu: #5a76fd;
    --bleu-logo: #1b2638;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo img {
    height: 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: var(--bleu-logo);
    box-shadow: 2px 2px 20px rgba(90, 118, 253, 0.13);
    z-index: 1000;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--white);
    letter-spacing: 1px;
}

nav ul li a:hover {
    background-color: #5a76fd;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(90, 118, 253, 0.5);
    transition: all ease 0.2s;
}

nav .menu-btn {
    display: none;
}

.menu-nav ul li ul {
    position: absolute;
    left: 0;
    background-color: #fff;
    flex-direction: column;
    display: none !important;
    border-radius: 5%;
}

.menu-nav ul li {
    position: relative;
}

.menu-nav ul li ul li a {
    color: var(--bleu-logo) !important;
    margin-left: 0%;
}


/* .menu-nav ul li ul li a:nth-child(1) {
    color: red !important;
} */

.menu-nav ul li.active ul {
    display: block !important;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.150);
    z-index: 1000;
    width: 100%;
}

.menu-nav ul li ul li a:hover {
    background-color: var(--bleu-menu) !important;
    color: #fff !important;
    width: 100%;
    font-weight: bold;
    /* margin-left: 3%; */
}


/* .menu-nav ul li ul li a:hover(:first-child) {
    background-color: gold !important;
} */

.sous-menu-nom a {
    font-size: 10px;
    font-weight: bold;
}

nav .menu li a {
    justify-content: center;
}

@media(max-width:1100px) {
    nav {
        justify-content: space-between;
        /* height: 45px; */
    }
    .menu {
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #fff;
        border-bottom: 4px solid #5a76fd;
        width: 100%;
    }
    .menu li {
        width: 100%;
    }
    nav .menu li a {
        width: 100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid rgba(38, 38, 38, 0.03);
    }
    nav .menu-icon {
        cursor: pointer;
        float: right;
        padding: 28px 80px;
        position: relative;
        user-select: none;
    }
    nav .menu-icon .nav-icon {
        background-color: white;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after {
        background: white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width: 100%;
    }
    nav .menu-icon .nav-icon:before {
        top: 5px;
    }
    nav .menu-icon .nav-icon:after {
        top: -5px;
    }
    nav .menu-btn:checked~.menu-icon .nav-icon {
        background: transparent;
    }
    nav .menu-btn:checked~.menu-icon .nav-icon:before {
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked~.menu-icon .nav-icon:after {
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn {
        display: none;
    }
    nav .menu-btn:checked~.menu {
        display: block;
    }
    nav ul li a {
        color: var(--bleu-logo);
    }
}

@media(max-width:377px) {
    nav {
        height: 65px;
    }
    .logo img {
        height: 60px;
    }
    nav .menu-icon {
        padding: 28px 45px;
    }
}