<div class="container-pergo-list pergo-list-center">
    <div class="pergo-list-box" data-aos="fade" data-aos-duration="2000">
        <a href="{{ path('accessory_show', { 'slug': accessory.slug } ) }}">
            <img src="/uploads/{{ accessory.image }}" alt="{{ accessory.name }}" />
        </a>
        <p>Titre : {{ accessory.name }}</p>
    </div>
</div>
